<!DOCTYPE html> {% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Mapa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css">
    <link rel="stylesheet" href={% static "css/mapa.css" %}>
  </head>

  <body>
    <header>
      <div class="container">
        <div id="logo">
          <img src="{% static 'image/LogoIntercampi.png' %}" height="50px">
        </div>
      </div>
    </header>
    <div id = "botao"><button onclick="Pararfuncao();">Encerrar Viagem</button></div>
    <div id="mapa">
    </div>
    <script>
    const token = '{{ csrf_token }}';
    var id_viagem = '{{ id_vg }}';
    var nome_linha = '{{ nome_linha }}';
    alert('{{ id_vg }}');

    </script>

    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src={% static "js/mapa.js" %}></script>
  </body>
  <footer>Desenvolvido por Thalita Lopes</footer>
</html>
