body{
  background-color: #b3cce6;
  height: 1000;
  width: 100%;
  margin: 0;
  padding: 0;
}
p {
  color: white;
}
header{
  background-color: #b3cce6;
  height: 40px;
  font-size: 18px;
  text-align: center;
  font-variant: Arial, Helvetica;
  padding: 15px;
}
footer{
  clear:both;
  background-color: #b3cce6;
  height: 22px;
  text-align: center;
  padding: 8px;
  font-size: 12px;
  text-shadow: 1px 1px 1px #F5FFFA;
}

#formulario{
  position: relative;
  height: 670px;
  width: 100%;
  background-color: #f2f2f2;
}

#containerForm{
  margin-left: 100px;
  padding-top: 30px;
}
#logo{
  float:left;
}

#menu{
  margin-top: 10px;
  float:right;
}

#menu a{
  padding: 23px 20px;
  color: black ;
  text-shadow: 1px 1px #111111;
}

#menu a:hover{
  background-color: #8CB1D9;
}

.container{
  width: 1050px;
  margin: 0 auto;
}
