body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}
#mapa{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: green;
}
#botao{
  position: relative top;
  height: 10%;
  width: 100%;
  background-color: blue;
}
